

.container{
    background: conic-gradient(from 182.3deg at 52.08% 24.13%, #0056DB 0deg, #2E83FF 98.84deg, #69A8FF 151.72deg, #0056DB 360deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loginImageCenter{
    width: 202.19px;
    height: 244.68px; 
    margin-top: 104px;   
}

.loginButtonsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 25% ;
    margin-bottom: 5%;
    align-items: center;
    

}

.loginButtonOutlined{
    width: 202px;
    height: 62px;
    border-radius: 6px;
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 1); 
    margin: 5%;   
}