$white: #ffffff;
$lightWhite: rgba(255, 255, 255, 0.6);
$black: #000000;
$red: #ff2020;
$grey: #666666;
$blue-100: #f1f7ff;
$blue-200: #8bb9ff;
$blue-300: #488ef4;
$blue-400: #4285f4;
$blue-500: #0045af;


